<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <script type="module" src="./assets/js/app.js"></script>
    <link rel="stylesheet" href="./assets/css/style.css">
</head>
<body>

    <div id="app">
        <div class="colomns">
            <div>
                <h3>Дата взятия в долг</h3>
                <input @input="isCalcStartDate(), isCalcEndDate()" v-model="paydate" type="date">
            </div>
            <div>
                <h3>Дата до которой необходимо вернуть долг</h3>
                <input @input="isCalcStartDate(), isCalcEndDate()" v-model="repaydate" type="date">

            </div>
        </div>

        <h4>Взято в долг: {{sumForStart}} млн. грн.</h4>
        <h4>Надо вернуть: {{sumForEnd}} млн. грн.</h4>

    </div>
    
</body>
</html>