
  body{
    margin: 0px;
}

*{
    box-sizing: border-box;
}

.colomns{
    margin: auto 15%;
    display: grid;
    grid-template-columns: 1fr 1fr;

}

#app {

    margin: 5% 10%;
    border: 2px solid rosybrown;
    background-color: azure;

}